<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
	<body> 
		<h2>Upload a Photo</h2>
		<form action="uploadPhoto" method="post" enctype="multipart/form-data">
			Title</br>
                        <input type="text" name="title" required="required"></br>
                        Description</br> 
                        <input type="text" name="description"></br>
			Photo</br>
			<input type="file" name="filetoupload"></br></br>
			<input type="submit" class="btn btn-info"s value="Upload">
 		</form>
		</div>
	</body>
</html>
